
<table class="tftable" id='rolled'>
  <caption>Rolls tentés</caption>
  <tr><th>Nom</th><th>Roll Café</th><th>Roll Bouilloire</th><th>Roll Croco</th><th>Roll Base</th><th>Roll Autre</th>
  <tr *ngFor="let player of players"
        (click)="onSelect(player)">
	<td>{{player.name}}</td> <td>{{player.roll_cofee}}</td> <td>{{player.roll_water}}</td> <td>{{player.roll_croco}}</td> <td>{{player.roll_base}}</td> <td>{{player.roll_other}}</td> 
  </tr>
</table>


<br />

<table class="tftable" id='won'>
  <caption>Rolls gagnés</caption>
  <tr><th>Nom</th><th>Win Café</th><th>Win Bouilloire</th><th>Win Croco</th><th>Win Base</th><th>Win Autre</th><th>Winrate</th>
  <tr *ngFor="let player of players"
          (click)="onSelect(player)">
  	<td>{{player.name}}</td> <td>{{player.win_cofee}}</td> <td>{{player.win_water}}</td> <td>{{player.win_croco}}</td> <td>{{player.win_base}}</td> <td>{{player.win_other}}</td> <td>{{player.winrate}}</td> 
  </tr>
</table>


<br />

<table class="tftable" id="rates">
  <caption>Winrates</caption>
  <tr><th>Nom</th><th>Café</th><th>Bouilloire</th><th>Croco</th><th>Base</th><th>Autre</th><th>Global</th>
  <tr *ngFor="let player of players"
          (click)="onSelect(player)">
  	<td>{{player.name}}</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td> 
  </tr>
</table>

  <button onclick="updateRates()">Try it</button>
  
<app-player-details [player]="selectedPlayer"></app-player-details>
